@model DiamDev.Colegio.Entities.Curso

<div class="row">
    <div class="col-12">      
        <div class="form-group">
            <label class="control-label">
                Curso Actitudinal<span class="symbol required"></span>
            </label>
            @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", @placeholder = "Nombre del Curso Actitudinal", required = "required", autocomplete = "off" })
        </div>
    </div>
</div>
<div class="row">   
    <div class="col-6">
        <div class="form-group">
            <label class="control-label">
                Activo
            </label>
            <div>
                <label class="radio-inline">
                    <input type="radio" class="grey" value="true" @ViewBag.ActivoSi name="activo" id="ActivoSi">
                    Sí
                </label>
                <label class="radio-inline">
                    <input type="radio" class="grey" value="false" @ViewBag.ActivoNo name="activo" id="ActivoNo">
                    No
                </label>
            </div>
        </div>
    </div>
</div>
<h2>Grados</h2>
<hr />
<div class="row">
    <div class="col-12">
        <div class="form-group">
            <label class="control-label">
                Nivel Academico
            </label>
            @Html.DropDownList("NivelId", (SelectList)ViewBag.Niveles, "Seleccione un Nivel Academico", new { @class = "form-control select2bs4" })
        </div>
        <div class="form-group">
            <label class="control-label">
                Grado
            </label>
            <select id="GradoId" name="GradoId" class="form-control select2bs4">
                <option value="">Seleccione un Grado</option>
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p style="text-align:right"><button type="button" class="btn btn-primary" id="btn-agregar">Agregar</button></p>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Grado</th>                    
                    <th></th>
                </tr>
            </thead>
            <tbody id="grado_tbody"></tbody>
        </table>
    </div>
</div>
