<div class="error-container">
    <h1>Acceso no autorizado!</h1>
    <h2>El valor ingresado no existe en el sistema, comuniquese con el administrador.</h2>
</div>
<div class="error-actions">
    @Html.ActionLink("Regresar al Inicio", "Dashboard", "Inicio")
</div>

